:root {
  --wwwguccicomnero: rgba(255, 255, 255, 1);
  --wwwguccicomblack: rgba(0, 0, 0, 1);
  --wwwguccicomnero-10: rgba(255, 255, 255, 0.1);
  --wwwguccicomnero-50: rgba(255, 255, 255, 0.5);
  --wwwguccicomblack-40: rgba(0, 0, 0, 0.4);
  --wwwguccicomnero-02: rgba(255, 255, 255, 0);
  --wwwguccicomblack-50: rgba(0, 0, 0, 0.5);
  --wwwguccicomscorpion: rgba(86, 86, 86, 1);
  --www-gucci-com-inter-bold-12-upper-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-bold-12-upper-font-weight: 700;
  --www-gucci-com-inter-bold-12-upper-font-size: 12px;
  --www-gucci-com-inter-bold-12-upper-letter-spacing: -0.6000000238418579px;
  --www-gucci-com-inter-bold-12-upper-line-height: 16px;
  --www-gucci-com-inter-bold-12-upper-font-style: normal;
  --www-gucci-com-inter-medium-12-underline-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-medium-12-underline-font-weight: 500;
  --www-gucci-com-inter-medium-12-underline-font-size: 12px;
  --www-gucci-com-inter-medium-12-underline-letter-spacing: -0.36000001430511475px;
  --www-gucci-com-inter-medium-12-underline-line-height: 16px;
  --www-gucci-com-inter-medium-12-underline-font-style: normal;
  --www-gucci-com-inter-medium-32-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-medium-32-font-weight: 500;
  --www-gucci-com-inter-medium-32-font-size: 32px;
  --www-gucci-com-inter-medium-32-letter-spacing: -0.9599999785423279px;
  --www-gucci-com-inter-medium-32-line-height: 48px;
  --www-gucci-com-inter-medium-32-font-style: normal;
  --www-gucci-com-inter-regular-32-upper-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-regular-32-upper-font-weight: 400;
  --www-gucci-com-inter-regular-32-upper-font-size: 32px;
  --www-gucci-com-inter-regular-32-upper-letter-spacing: -0.9599999785423279px;
  --www-gucci-com-inter-regular-32-upper-line-height: 40px;
  --www-gucci-com-inter-regular-32-upper-font-style: normal;
  --www-gucci-com-inter-bold-16-upper-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-bold-16-upper-font-weight: 700;
  --www-gucci-com-inter-bold-16-upper-font-size: 16px;
  --www-gucci-com-inter-bold-16-upper-letter-spacing: -0.47999998927116394px;
  --www-gucci-com-inter-bold-16-upper-line-height: 24px;
  --www-gucci-com-inter-bold-16-upper-font-style: normal;
  --www-gucci-com-inter-thin-48-upper-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-thin-48-upper-font-weight: 100;
  --www-gucci-com-inter-thin-48-upper-font-size: 48px;
  --www-gucci-com-inter-thin-48-upper-letter-spacing: -2.4000000953674316px;
  --www-gucci-com-inter-thin-48-upper-line-height: 48px;
  --www-gucci-com-inter-thin-48-upper-font-style: normal;
  --www-gucci-com-inter-thin-16-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-thin-16-font-weight: 100;
  --www-gucci-com-inter-thin-16-font-size: 16px;
  --www-gucci-com-inter-thin-16-letter-spacing: -0.6399999856948853px;
  --www-gucci-com-inter-thin-16-line-height: 24px;
  --www-gucci-com-inter-thin-16-font-style: normal;
  --www-gucci-com-inter-medium-16-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-medium-16-font-weight: 500;
  --www-gucci-com-inter-medium-16-font-size: 16px;
  --www-gucci-com-inter-medium-16-letter-spacing: -0.6399999856948853px;
  --www-gucci-com-inter-medium-16-line-height: 24px;
  --www-gucci-com-inter-medium-16-font-style: normal;
  --www-gucci-com-inter-medium-12-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-medium-12-font-weight: 500;
  --www-gucci-com-inter-medium-12-font-size: 12px;
  --www-gucci-com-inter-medium-12-letter-spacing: -0.36000001430511475px;
  --www-gucci-com-inter-medium-12-line-height: 16px;
  --www-gucci-com-inter-medium-12-font-style: normal;
  --www-gucci-com-inter-regular-16-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-regular-16-font-weight: 400;
  --www-gucci-com-inter-regular-16-font-size: 16px;
  --www-gucci-com-inter-regular-16-letter-spacing: 0px;
  --www-gucci-com-inter-regular-16-line-height: normal;
  --www-gucci-com-inter-regular-16-font-style: normal;
  --www-gucci-com-inter-regular-12-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-regular-12-font-weight: 400;
  --www-gucci-com-inter-regular-12-font-size: 12px;
  --www-gucci-com-inter-regular-12-letter-spacing: -0.36000001430511475px;
  --www-gucci-com-inter-regular-12-line-height: 16px;
  --www-gucci-com-inter-regular-12-font-style: normal;
  --www-gucci-com-inter-semi-bold-14-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-semi-bold-14-font-weight: 600;
  --www-gucci-com-inter-semi-bold-14-font-size: 14px;
  --www-gucci-com-inter-semi-bold-14-letter-spacing: 0px;
  --www-gucci-com-inter-semi-bold-14-line-height: 19.600000381469727px;
  --www-gucci-com-inter-semi-bold-14-font-style: normal;
  --www-gucci-com-inter-regular-11-4-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-regular-11-4-font-weight: 400;
  --www-gucci-com-inter-regular-11-4-font-size: 11.399999618530273px;
  --www-gucci-com-inter-regular-11-4-letter-spacing: 0px;
  --www-gucci-com-inter-regular-11-4-line-height: 17.06999969482422px;
  --www-gucci-com-inter-regular-11-4-font-style: normal;
  --www-gucci-com-inter-bold-11-4-underline-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-bold-11-4-underline-font-weight: 700;
  --www-gucci-com-inter-bold-11-4-underline-font-size: 11.399999618530273px;
  --www-gucci-com-inter-bold-11-4-underline-letter-spacing: 0px;
  --www-gucci-com-inter-bold-11-4-underline-line-height: 17.06999969482422px;
  --www-gucci-com-inter-bold-11-4-underline-font-style: normal;
  --www-gucci-com-inter-semi-bold-11-4-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-semi-bold-11-4-font-weight: 600;
  --www-gucci-com-inter-semi-bold-11-4-font-size: 11.399999618530273px;
  --www-gucci-com-inter-semi-bold-11-4-letter-spacing: 0.5690000057220459px;
  --www-gucci-com-inter-semi-bold-11-4-line-height: 15.930000305175781px;
  --www-gucci-com-inter-semi-bold-11-4-font-style: normal;
  --www-gucci-com-inter-semi-bold-11-4-underline-font-family: "Inter", Helvetica;
  --www-gucci-com-inter-semi-bold-11-4-underline-font-weight: 600;
  --www-gucci-com-inter-semi-bold-11-4-underline-font-size: 11.399999618530273px;
  --www-gucci-com-inter-semi-bold-11-4-underline-letter-spacing: 0.5690000057220459px;
  --www-gucci-com-inter-semi-bold-11-4-underline-line-height: 15.930000305175781px;
  --www-gucci-com-inter-semi-bold-11-4-underline-font-style: normal;
}
